<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="myApp" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Image Gallery</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
<!--   <link rel="stylesheet" href="bower_components/html5-boilerplate/css/normalize.css">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/css/main.css"> -->
  <link rel="stylesheet" href="app.css">
  <link rel="stylesheet" href="ionicons.css">
<!--  <script src="bower_components/html5-boilerplate/js/vendor/modernizr-2.6.2.min.js"></script>-->
</head>
<body ng-controller="loadingCtrl">
    <!-- blue header at the top -->
        <div class="header">
            <div ng-click="menuCollapse()" class="ion-android-add-circle">
            </div>
        </div>
    <!-- Wraps the img input, caption input, and buttons -->
        <div ng-show="wrapper" class="wrapper">
            <input type="text" class="img" ng-model="img" placeholder="Image URL">
            <h3 ng-bind="emptyImgError"></h3>
            <input class="img-caption" ng-model="imgCaption" placeholder="Image Caption">
            <h3 ng-bind="emptyCapError"></h3>
            <div class="button-wrapper">
                <div class="button-container">
                    <button class="cancel-image" ng-click="cancelImage()">Cancel</button>
                    <button class="add-image" ng-click="sendData(img, imgCaption)">
                        <p>Add Image</p>
                        <div class="ion-image">
                        </div>
                    </button>
                </div>
            </div>
        </div>

    <!-- Sumbitted photos/captions display here -->
        <div class="photo-collection">
            <div class="photo-list">
                <ul ng-repeat="picture in item">
                    <div class="photo-wrapper">
                        <img ng-src="{{ picture.imgURL }}">
                        <div class="caption-wrapper">
                        {{ picture.caption }}
                        </div>
                    </div>
                </ul>
            </div>
        </div>
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/underscore/underscore.js"></script>
  <script src="scripts/controllers/controllers.js"></script>
<!-- <script src="bower_components/angular-route/angular-route.js"></script> -->
  <script src="app.js"></script>
<!--   // <script src="view1/view1.js"></script>
  // <script src="view2/view2.js"></script>
  // <script src="components/version/version.js"></script>
  // <script src="components/version/version-directive.js"></script>
  // <script src="components/version/interpolate-filter.js"></script> -->
</body>
</html>
